
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Custom Form</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-xs-6" style="border-right:solid;">
             <table class="table table-striped" width="100%">
    <tr><th>State</th><td>
    <select [(ngModel)]="defaultstate" class="ddl form-control" name="state" >
        <option *ngFor="let item of data1"  [value]="item" >{{item}}</option>
    </select>
    </td></tr>
    <tr><th>Specality</th><td>
    <select [(ngModel)]="specality" class="ddl form-control"  name="specality">
        <option *ngFor="let item of data2" [ngValue]="item">{{item.name}}</option>
    </select>
    </td></tr>
    <tr><th>Cred Type</th><td>
    <select [(ngModel)]="credType"  class="ddl form-control" name="credType">
        <option *ngFor="let item of data3" [ngValue]="item" >{{item.name}}</option>
    </select>
    </td></tr>
    <tr><th>Does the provide have any termed contracts with in past 24 months?</th><td>
        <select [(ngModel)]="contracts"  class="ddl4 form-control" name="contracts" (change)="cangeEvent($event)">
            <option *ngFor="let item of data4" [value]="item">{{item}}</option>
            
        </select>
    </td></tr>
    <tr  *ngIf="enable">
    <th>Check Box List</th>
    <td>           
       <label class="checkbox-inline">
       <input type="checkbox" value="text1" name="text1" [(ngModel)]="text1">
    </label>             
    <label class="checkbox-inline">
            <input type="checkbox" value="text2" name="text2" [(ngModel)]="text2">
         </label> 
         <label class="checkbox-inline">
                <input type="checkbox" value="text3" name="text3" [(ngModel)]="text3">
             </label>             
             <label class="checkbox-inline">
                     <input type="checkbox" value="text4" name="text4" [(ngModel)]="text4">
                  </label> 
    </td>
    </tr>  
    </table>
        </div>
        <div class="col-xs-6">
    <table class="table table-striped" width="100%">
    <tr><th>No2 section (if you selected a No2 specality, then please enter the below information)</th>
    </tr>
    <tr>
    <table class="table table-striped" width="100%">
    <tr>
    <th>Is the TIN PAR?</th>
    <td>
        <select [(ngModel)]="ddl5" name="ddl5" class="ddl form-control">
            <option *ngFor="let item of data5" [ngValue]="item">{{item.name}}</option>
        </select>
    </td>
    <th>Is the TIN multi-specality</th>
    <td>
        <select [(ngModel)]="ddl6" name="ddl6" class="ddl form-control">
            <option *ngFor="let item of data6" [ngValue]="item">{{item.name}}</option>
        </select>
    </td>
    <th>Providing dental benefits under medical</th>
    <td>
        <select [(ngModel)]="ddl7" name="ddl7" class="ddl form-control">
            <option *ngFor="let item of data7" [ngValue]="item">{{item.name}}</option>
        </select>
    </td>
    </tr>
    </table>
    </tr>
    
    <tr><th>No2 section (if you selected a No2 specality, then please enter the below information)</th>
    </tr>
    <tr>
    <table class="table table-striped" width="100%">
    <tr>
    <th>Is the TIN PAR?</th>
    <td>
        <select [(ngModel)]="ddl8" name="ddl8" class="ddl form-control">
            <option *ngFor="let item of data8" [ngValue]="item">{{item.name}}</option>
        </select>
    </td>  
    </tr>
    </table>
    </tr>
    </table>
    
        </div>
    </div>
    <div class="panel-footer" >
        <button type="submit" class="btn btn-primary" id="btnSave" style="align-content: center">Save</button>
      </div>
</div>  
</div>
</form>
<span tooltip="Tooltip" [options]="myOptions">Tooltip on left</span>
 
