table, th, td {
  table-layout: auto;
    border:  1px  double black;
  }
  table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
  }
  img{
    border-radius: 50%;
    width: 20%
  }
  #edit {
    border-radius: 50%;
    padding: 40%}